*.log
TrackerAppService/bin
SetupAppTracker/Debug
TrackerAppService/obj
TrackerAppService/.vs
TrackerAppList
SetupAppTracker/Release/
/TrackerAppService/Properties/Settings.Designer.cs
/TrackerAppService/Properties/Settings.settings
/TrackerAppService/App.config
