<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrackerAppService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TrackerAppService.Properties.Settings>
            <setting name="influxUrl" serializeAs="String">
                <value>sfsfsdfsf</value>
            </setting>
            <setting name="influxToken" serializeAs="String">
                <value />
            </setting>
            <setting name="influxOrg" serializeAs="String">
                <value>sdfsdfsfs</value>
            </setting>
            <setting name="influxBucket" serializeAs="String">
                <value>dfdfdfdf</value>
            </setting>
            <setting name="appUsageLimits" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>notepad,11:30:00,11:30:00,11:30:00,11:30:00,11:30:00,11:30:00,11:30:00</string>
                        <string>chrome,11:30:00,11:30:00,11:30:00,11:30:00,11:30:00,11:30:00,11:30:00</string>
                        <string>word,11:30:00,11:30:00,11:30:00,11:30:00,11:30:00,11:30:00,11:30:00</string>
                    </ArrayOfString>
                </value>
            </setting>
        </TrackerAppService.Properties.Settings>
    </userSettings>
</configuration>