<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrackerAppService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TrackerAppService.Properties.Settings>
            <setting name="influxUrl" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="influxToken" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="influxOrg" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="influxBucket" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="influxCertKeyFileName" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="influxCertKeyPass" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="webEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="webPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="webUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="webPass" serializeAs="String">
                <value>wpass</value>
            </setting>
        </TrackerAppService.Properties.Settings>
    </userSettings>
</configuration>